<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dpit.dao">
	<select id="selectMofConnect" parameterType="java.util.HashMap" resultType="hashmap">
		SELECT  MONITOR.RM_CONTNO,
			MONITOR.RM_ORDNO,
			MONITOR.RM_TEMPERATURE,
			MONITOR.RM_SENSOR_VALUE,
			MONITOR.RM_LATITUDE,
			MONITOR.RM_LONGITUDE,
			MONITOR.RM_ALTITUDE,
			MONITOR.RM_BEARING,
			MONITOR.RM_SPEED,
			MONITOR.RM_ACCURACY,
			MONITOR.RM_REPORT_TIME,
			MONITOR.RM_STS,
			MONITOR.RM_ITEM_NAME,
			MONITOR.RM_UNNO RM_UN_NO,
			MONITOR.RM_CLASS,
			MONITOR.RM_ALARM_GRADE,
			MONITOR.RM_SPEED_GRADE,
			MONITOR.RM_BEACON_GRADE,
			MONITOR.RM_TEMP_GRADE,
			MONITOR.RM_DRIVER_NAME,
			MONITOR.RM_CAR_NUMBER,
			MONITOR.RM_CREDATE,
			ifnull((SELECT 'Y' FROM DA_ORDER_ACCIDENT_MESSAGE MESS WHERE MESS.AC_ORDNO = MONITOR.RM_ORDNO AND MESS.AC_CONTNO = MONITOR.RM_CONTNO),'N') ACCIDENT_AT,
			ifnull((SELECT AC_MESSAGE FROM DA_ORDER_ACCIDENT_MESSAGE MESS WHERE MESS.AC_ORDNO = MONITOR.RM_ORDNO AND MESS.AC_CONTNO = MONITOR.RM_CONTNO),'') ACCIDENT_MESSAGE
		FROM (SELECT RM_CONTNO,max(RM_ORDNO) RM_ORDNO FROM DA_ORDER_MONITOR GROUP BY RM_CONTNO ) x inner join DA_ORDER_MONITOR MONITOR WHERE MONITOR.RM_CONTNO = x.RM_CONTNO AND MONITOR.RM_ORDNO = x.RM_ORDNO 
	</select>
</mapper>